attrs
backcall
bleach
cairocffi
CairoSVG
cffi
Click
colorama
cssselect2
cycler
decorator
defusedxml
entrypoints
Flask
importlib-metadata
ipyfilechooser
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
kiwisolver
lxml
MarkupSafe
matplotlib
mistune
more-itertools
natsort
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
pywinpty
pyzmq
reportlab
Send2Trash
six
svglib
terminado
testpath
tinycss2
tornado
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension
win-unicode-console
XlsxWriter
zipp
