.amu-range{
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  margin-top: 1em;
}

.amu-add{
  margin-top: 0.8em;
}

th{
  text-align: center;
}

td{
  padding-top: 0px;
  padding-bottom: 0px;

  text-align: center;
  vertical-align: middle;
}

#amu-menu{
  height: 100%;
  border: 1px solid #777;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

#graph{
  height:100%;
}

#graph-card{
  /* height: 550px; */
  height: 40vw;
}

#graph-row{
  height:90%;
}

#graph-controls{
  height: 100%;
}

#analysis-settings{
  height: 550px;
}

#graph-menu{
  display: flex;
  justify-content: right;
}
.graph-option{
  margin: auto 10px;
}

.uicard-titlerow{
  height: 7%
}

#fileselect-row{
  height: 7%;
}
#amu-range-row{
  height: 5%;
}
#amu-menu-row{
  height:65%;
}
#amu-select-row{
  height:10%;
}
hr{
  margin-top: 0px;
}

.slider-col{
  display: flex;
  align-items: center;
}

.popover-gutter {
    margin-right: -15px;
    margin-left: -15px;
}

.popover-gutter > [class*='col-']{
  padding-right: 5px;
  padding-left: 5px;
}

.popover{
    max-width: 300px; /* Max Width of the popover (depending on the container!) */
}

#popover{
  margin: 5px;
}
