.amu-range{
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  margin-top: 1em;
}

.amu-add{
  margin-top: 0.8em
}

th{
  text-align: center;
}

td{
  padding-top: 0px;
  padding-bottom: 0px;

  text-align: center;
  vertical-align: middle;
}

#amu-menu{
  height: 300px;
  border: 1px solid black;
  border-radius: 4px;
  overflow-y: scroll;
}

#graph{
  margin-top: 40px;
  height:430px;
}

#graph-card{
  height: 550px;
}

#graph-controls{
  height: 550px;
  /* height: 68vh; */
}

#analysis-settings{
  height: 550px;
  /* height: 18vh; */
}

#download-col{
  text-align: right;
  margin-right: 30px;
}
