

body{
  background-color: #f9f9f9;
}

span{
  user-select:none;
}

h2, h3{
  text-align:center;
  font-weight: bold;
  user-select: none;
  vertical-align: middle;
}

/* table styles */
.table th{
  text-align: center;
}

.table td{
  text-align: center;
  vertical-align: middle;
}

table{
  margin-top: 10px;
}


#page{
  /* margin: 0 auto; */
  /* max-width: 1200px; */
  /* padding: 50px 0; */
}

#header{
  margin: 0px;
  background: #FFFFFF;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 10px 10px 8px #888888;
}

#app-header{
  text-align: left;
}

#sidebar{
  padding: 10px;
  margin: 0px;
  padding-top: 30px;
  border: 2px solid black;
  background: #313540;
  height: 700px;
}

#content{
  margin-top: 15px;
  max-height: 80vh;
}

#filelist{
  height: 45vh;
  overflow: auto;
}

.uicard{
  margin: 1.5vh 1.5vh;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 2px #888888;
  width: 100%;
  background-color: #ffffff;
}

/* These blocks allow input-group labels to have equal size. */
.input-append {
    flex: 0 0 30%;
    background-color: #ffffff;
}
.input-append .input-group-text {
    width: 100%;
    justify-content: center;
}
.input-group-text{
  background-color: #ffffff;
}

.fileselect{
  /* display: flex; */
  padding: 0px 20px;
}


.fileselect-btn-col{
  padding: 0px 40px;
}

.filelist{
  border: 1px solid black;
  padding: 0px 20px;
}

.sidebar-menuitem{
  margin-bottom: 10px;

  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #e1e4e8;
  border-left: 4px solid #313540;
}

.sidebar-menuitem a{
  color: #888;
}
.sidebar-menuitem-active a{
  color: #fff;
}

.sidebar-menuitem:hover{

}

.sidebar-menuitem-active{
  border-left: 4px solid #2e88ff;
}

.invis{
  visibility: hidden;
}
