

body{
  background-color: #f9f9f9;
}

span{
  user-select:none;
}

h2, h3{
  text-align:center;
  font-weight: bold;
  user-select: none;
  vertical-align: middle;
}

/* table styles */
.table th{
  text-align: center;
}

.table td{
  text-align: center;
  vertical-align: middle;
}

table{
  margin-top: 10px;
}


#header{
  margin: 0px;
  margin-left: -30px;
  margin-right: -30px;
  background: #FFFFFF;
  border-bottom: 2px solid #aaa;
  padding: 10px;
  /* box-shadow: 10px 10px 8px #888888; */
}

#body{
  margin-left: -30px;
}

#page-header{

}

#app-header{
  text-align: left;
  font-family: 'Lato', sans-serif;
  margin-left:15px;
  font-size:3em;
}

#sidebar{
  padding: 10px;
  padding-left: 20px;
  padding-top: 30px;
  background: #f9f9f9;
  min-height: 100vh;
  height: 100%;
}

#content{
  margin-top: 15px;
  margin-bottom: 15px;
  max-height: 80vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* #filelist{
  height: 45vh;
  overflow: auto;
} */

.uicard{
  /* margin: 1.5vh 1.5vh; */
  box-sizing: border-box;
  /* margin: 10px; */
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 2px #888888;
  width: 100%;
  background-color: #ffffff;
}

.uicard-box{
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.uicard-titlerow{
  height: 10%;
}

.uicard-tablerow{
  height: 90%
}

/* These blocks allow input-group labels to have equal size. */
.input-append {
    flex: 0 0 30%;
    background-color: #ffffff;
}
.input-append .input-group-text {
    width: 100%;
    justify-content: center;
}
.input-group-text{
  background-color: #ffffff;
}

.fileselect{
  /* display: flex; */
  padding: 0px 20px;
}


.fileselect-btn-col{
  padding: 0px 40px;
}

.filelist{
  border: 1px solid black;
  padding: 0px 20px;
}

.sidebar-menuitem{
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #e1e4e8;
  /* border-top: 1px solid gray; */
  /* border-bottom: 1px solid gray; */
  /* border-left: 4px solid #313540; */
}

.sidebar-menuitem a{
  color: #888;
  margin-left: 10px;
  text-decoration: none;
}
.sidebar-menuitem-active a{
  color: #111;
}

.sidebar-menuitem:hover{
background-color: #f1f1f1;
}

.sidebar-menuitem-active{
  border-left: 4px solid #2e88ff;
}

.invis{
  visibility: hidden;
}
