{%extends "index.html"%}

{% block resources %}
<link rel="stylesheet" href="../static/analyze/analyze.css">
<script type="text/javascript">
  analysisSettingURL = "{{url_for('analysis_settings')}}";
  analysisURL = "{{url_for('analysis')}}"
  amu_url = "{{url_for('update_amus')}}"
</script>
<script type="text/javascript" src="../static/analyze/analyze.js"></script>

{% endblock %}

{%block appcontent%}
  <div class="row">
    <div class="col-lg-1">
      <h2><a href="{{ url_for('explore_page') }}"><i class="fas fa-arrow-circle-left"></i></a></h2>
    </div>
    <div class="col-lg-10">
      <h2>Analyze Data</h2>
    </div>
    <div class="col-lg-1">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="row">
        <div class="col uicard" id="analysis-settings">
          <div class="row">
          <div class="col">
            <h3> Analysis Settings </h3>
          </div>
          </div>
          <div class="row analysis-row">
            <div class="col">
              <label for="bgstart">Background Range</label>
              <input type="text" id="bgstart" class="form-control" value="">
            </div>
            <div class="col">
              <label for="bgend">&nbsp</label>
              <input type="text" id="bgend" class="form-control" value="">
            </div>
          </div>

          <div class="row analysis-row">
            <div class="col">
              <label for="avgstart">Average Range</label>
              <input type="text" id="avgstart" class="form-control" value="">
            </div>
            <div class="col">
              <label for="avgend">&nbsp</label>
              <input type="text" id="avgend" class="form-control" value="">
            </div>
          </div>

          <div class="row analysis-row">
            <div class="col">
              <label for="beamcurrent">Beam Current</label>
              <div class="input-group">
                <input type="text" id="beamcurrent" class="form-control">
                <div class="input-group-append input-append">
                  <span class="input-group-text">uAmp</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row analysis-row">
            <div class="col">
              <label for="exptime">Exposure Time</label>
              <div class="input-group">
                <input type="text" id="exptime" class="form-control" value="">
              <div class="input-group-append input-append">
                <span class="input-group-text">sec.</span>
              </div>
            </div>
            </div>
          </div>

          <div class="row analysis-row">
            <div class="col">
              <button class="btn btn-outline-secondary" id="analysis-btn">Run</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-8 col-md-8" style="display:flex">
        <div class="uicard" id="output">
          <div class="row">
            <div class="col-lg-6">
              <h3>Output</h3>
            </div>
            <div class="col-lg-4">
              <select class="form-control" id="qty-select">
                <option value="integral">Integral</option>
                <option value="signal">Signal/Electron</option>
                <option value="average">Mean Signal</option>
              </select>
            </div>
            <div class="col-lg-2 d-flex align-items-center invis" id="prog-counter">
              <div class="spinner-border m-auto" id="upload-spinner" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <table class="table">
                <thead id="output-thead">

                </thead>
                <tbody id="output-tbody">

                </tbody>
              </table>
            </div>
          </div>
        </div>

      <div class="">

      </div>
    </div>
  </div>
{%endblock%}
