{% extends "index.html" %}

{% block resources%}
<link rel="stylesheet" href="../static/explore/explore.css">
<script type="text/javascript">
  amu_url = "{{url_for('update_amus')}}"
  inten_url = "{{url_for('intensities')}}"
</script>
<script type="text/javascript" src="../static/explore/explore.js"></script>
{% endblock %}

{% block appcontent %}
  <div class="row">
  <div class="col">
    <h2> Explore Data </h2>
  </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="row">
          <div class="col uicard" id="graph-card">
            <div class="row h-30">
            <div class="col">
              <h3> Graph </h3>
            </div>
            </div>
            <div class="row h-70">
              <div class="col">
                <div class="" id="graph">

                </div>
              </div>
            </div>

          </div>
      </div>

      <div class="row">
        <div class="col uicard" id="analysis-settings">
          <div class="row">
          <div class="col">
            <h3> Analysis Settings </h3>
          </div>
          </div>
          <div class="row" style="margin-left:1vw; margin-right:1vw;">
            <div class="col-lg-3">
              <label for="bgstart">BG Start [Scan#]</label>
              <input type="text" name="bgstart" class="form-control" value="">
            </div>
            <div class="col-lg-3">
              <label for="bgend">BG End [Scan#]</label>
              <input type="text" name="bgend" class="form-control" value="">
            </div>
            <div class="col-lg-3">
              <label for="beam-current">Beam Curr. [uA]</label>
              <input type="text" name="beam-current" class="form-control" value="">
            </div>
            <div class="col-lg-3">
              <label for="exp-time">Exp. Time [s]</label>
              <input type="text" name="exp-time" class="form-control" value="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4" style="display:flex">
      <div class="uicard" id=graph-controls>
        <div class="row">
        <div class="col">
          <h2> Graph Controls </h2>
        </div>
        </div>
        <hr>

        <div class="row">
          <div class="col" style="margin: 0px 10px;">
            <select class="custom-select" name="file-select" id='file-select'>
              {% for filename in filelist %}
                <option value="{{filename}}">{{filename}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col amu-range">
            <p>Min Amu - 0</p>
          </div>
          <div class="col amu-range">
            <p>Max Amu - 50</p>
          </div>
        </div>
        <div class="row">
          <div class="col" >
            <div class="" id="amu-menu">
              <table class="table">
                <thead>
                  <th>AMU</th>
                  <th>Remove</th>
                </thead>
                <tbody id="amu-table">
                  <!-- Table will befilled by javascript -->
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="input-group amu-add">
              <input type="text" class="form-control" name="amu" id="amu-select">
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" id="amu-select-btn">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
