<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mass Spec Central</title>
    <link rel="stylesheet" href="../static/dependencies/bootstrap.min.css">
    <link rel="stylesheet" href="../static/index.css">
    <script type="text/javascript" src = "../static/dependencies/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src = "../static/dependencies/bootstrap.min.js"></script>
    <script type="text/javascript" src = "../static/index.js"></script>
    <script src="https://kit.fontawesome.com/fa25710f97.js" crossorigin="anonymous"></script>

    {% block resources %} {% endblock %}
  </head>
  <body>
    <div class="container" id="page">

      <div class="row" id="header">
        <div class="col-lg-10">
          <div class="">
            <h2 id="app-header" style="margin-left:15px; font-size:3em;"><i style="font-weight:bold; vertical-align:middle;" class="far fa-chart-bar"></i> Mass Spec Data Studio</h2>
          </div>
        </div>
        <div class="col-lg-2 d-flex align-items-center invis" id="prog-counter">
          <div class="spinner-border ml-auto" id="upload-spinner" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="" id="sidebar">
            <div class="sidebar-menuitem" id="import-tab"> <a href="{{ url_for('upload_page') }}">Import</a> </div>
            <div class="sidebar-menuitem" id="explore-tab"> <a href="{{ url_for('explore_page') }}">Explore</a> </div>
            <div class="sidebar-menuitem" id="analyze-tab"> <a href="{{ url_for('analyze_page') }}">Analyze</a> </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-10">
          <div class="" id="content">
            {%block appcontent%}{%endblock%}
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
