<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mass Spec Central</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/index.css">
    <script type="text/javascript" src = "../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src = "../static/bootstrap.min.js"></script>
    <script type="text/javascript" src = "../static/index.js"></script>
    
    {% block resources %} {% endblock %}
  </head>

  <body>
    <div class="container" id="page">

      <div class="row" id="header">
        <div class="col">
          <div class="">
            <h2 style="margin-left:15px">Mass Spec Data Central</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2">
          <div class="" id="sidebar">
            <div class="sidebar-menuitem">Import</div>
            <div class="sidebar-menuitem">Explore</div>
            <div class="sidebar-menuitem">Analyze</div>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="" id="content">
            {%block appcontent%}{%endblock%}
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
