{% extends "index.html" %}

{% block resources%}
  <link rel="stylesheet" href="../static/upload/upload.css">
  <script type="text/javascript" src="../static/upload/upload.js"></script>
{% endblock %}

{% block appcontent %}
  <div class="row">
    <div class="col">
      <h2> Import and Transform Data </h2>
    </div>
  </div>

  <div class="row h-100">
    <div class="col-lg-7" id="fileselect-col">
      <div class="row">
        <div class="col uicard">
          <div class="row">
            <div class="col">
              <h3>Data In</h3>
            </div>
          </div>
          <div class="row fileselect">
            <div class="col-lg-12">
              <label for="inpath">Choose a File:</label> <br>
                <div class="input-group">
                  <input type="text" name="inpath" class="form-control" value="">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Browse</button>
                  </div>
              </div>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6" ></div>
            <div class="col-lg-6 fileselect-btn-col">
              <button type="button" name="button" class="btn btn-outline-secondary w-100">Load Contents</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="uicard">
          <div class="row">
            <div class="col">
              <h3>Data In</h3>
            </div>
          </div>

          <div class="row fileselect">
            <div class="col-lg-12">
              <label for="inpath">Choose a File:</label> <br>
                <div class="input-group">
                  <input type="text" name="inpath" class="form-control" value="">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Browse</button>
                  </div>
              </div>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6" ></div>
            <div class="col-lg-6 fileselect-btn-col">
              <button type="button" name="button" class="btn btn-outline-secondary w-100">Save As Matrix</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- right side column -->
    <div class="col-lg-5" style="display:flex">
        <div class="uicard">
          <div class="row">
            <div class="col">
              <h3>Files</h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="overflow-auto filelist" id="filelist">
                <p>Yee</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

{% endblock %}
