{% extends "index.html" %}

{% block resources%}
  <link rel="stylesheet" href="{{ url_for('static', filename='upload/upload.css') }}">
  <script type="text/javascript">
    file_url = "{{ url_for('filelist') }}"
    folder_url = "{{ url_for('folderlist') }}"
    upload_url = "{{ url_for('upload_folder') }}"
    del_folder_url = "{{ url_for('delfolder') }}"
    activeFolderUrl = "{{ url_for('activefolder') }}"
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='upload/upload.js') }}"></script>
{% endblock %}

{% block appcontent %}
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
      <h2> Import and Transform Data </h2>
    </div>
    <div class="col-lg-1">
      <h2><a href="{{ url_for('explore_page') }}"><i class="fas fa-arrow-circle-right"></i></a></h2>
    </div>
  </div>

  <div class="row h-100">
    <div class="col-lg-7" id="fileselect-col">

      <div class="row">
        <div class="col uicard-box">
          <div class="uicard" id="folder-display">
            <div class="row uicard-titlerow">
              <div class="col-lg-3">

              </div>
              <div class="col-lg-6">
                <h3>Select Folder</h3>
              </div>
              <div class="col-lg-3 text-right">
                <button class="btn btn-outline-secondary" type="button" id="upload-btn"><i class="fas fa-upload"></i></button>
              </div>
            </div>
            <!-- <div class="container"> -->
            <div class="row uicard-tablerow">
              <div class="col">
                <div class="folderlist" id="folderlist">
                  <table class="table" style="width: 100%">
                    <thead>
                      <th style="width: 60%"> Folder </th>
                      <th style="width: 40%"> Action </th>
                    </thead>
                    <tbody id="folderlist-body">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- right side column -->
    <div class="col-lg-5 uicard-box" style="display:flex">
        <div class="uicard" id="file-display">
          <div class="row uicard-titlerow">
            <div class="col">
              <h3>Files</h3>
            </div>
          </div>

          <div class="row uicard-tablerow">
            <div class="col h-100 vscroll">
              <!-- <div class="folderlist"> -->
                <table class="table">
                  <thead>
                    <th>Filename</th>
                  </thead>
                  <tbody id="filelist">

                  </tbody>
                </table>
              <!-- </div> -->
            </div>
          </div>
        </div>
    </div>
    <form id="upload-file">
      <fieldset>
        <input type='file' name='file' multiple id="upload-file-dialog" style="visibility: hidden" webkitdirectory mozdirectory msdirectory odirectory directory>
      </fieldset>
    </form>
  </div>

{% endblock %}
