#savedata{
  height: 25vh;
}

#review{
  height: 25vh;
}

#output{
  height: 53vh;
}

#preview-table{
  margin-top: 1vh;
}

/* table styles */
th{
  font-size: 12px;
  text-align: center;
}

td{
  text-align: center;
}


/* These blocks allow input-group labels to have equal size. */
.input-append {
    flex: 0 0 30%;
}
.input-append .input-group-text {
    width: 100%;
    justify-content: center;
}
